#content {
    z-index: 99;
    position: relative;
    font-size: 125%;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width: 100%;
    margin-right: 0;
    min-height: 750px;
}

fieldset {
    border:none;
    margin: 0;
    padding: 0;
}

form {
    width: 90%;
}

.section-title {
    width: 80%;
    margin: 5% 10% 0 10%;
    font-size: 20px;
}


p {
    text-align: center;
    border-bottom: 1px solid #FEFAE0;
    line-height: 0.1em;
    width: 100%;
    /*margin: 10px 0 20px;*/
}

p span {
    padding: 0 10px;
    /*width: 50%;*/
    background-color: #231F20;
}

.buttons {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h1 {
    font-weight: normal;
    font-size: 36px;
    color: #BC6C25;
}