#content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

hr {
    height: 2px;
    width: 70%;
    color: #FEFAE0;
    border: 0;
    border-top: 2px solid;
}

#description {
    color: #FEFAE0;
    padding: 10px;
    margin: 20px;
    line-height: 35px;
    text-align: center;
}

.redirections {
    font-size: 150%;
    font-weight: 2;
    border: 1px solid transparent;
    padding: 10px;
    width: fit-content;
    color: #FEFAE0;
    background-color: rgba(35, 31, 32, 0.4);
    text-decoration: none;
    margin-top: 275px;
    position: absolute;
}

.row:after {
    display: table;
    clear: both;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    background-size: 100% 100%;
    position: relative;
    border: 2px solid #FEFAE0;
    width: 400px;
    height: 400px;
    margin: 50px 50px 50px 50px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column > img {
    transition: transform .5s ease;
    height: 100%;
    width: 100%;
}

.redirections:hover {
    color: #FEFAE0;
    border: 2px solid;
}

.column:hover {
    border: 2px solid #FEFAE0;
}

.column:hover .image {
    transform: scale(1.2);
}
